{% extends 'base.html' %}
{% load static %}
{% block title %}Cálculo de Metabolismo Basal{% endblock %}

{% block content %}

<head>
  <link rel="stylesheet" href="{% static 'css/treino.css' %}">
</head>

<body>
  <section class="ContainerList">
    <div class="boxList">
      <h1 class="title-meta">Calcule sua Taxa de Metabolismo Basal:</h1>

      <div class="container-form">
        <form method="post">
          {% csrf_token %}
          <label class="title-label" for="genero">Gênero:</label>
          <select name="genero" id="genero">
            <option value="H">Homem</option>
            <option value="M">Mulher</option>
          </select>
          <br>
          <label class="title-label" for="idade">Idade:</label>
          <input type="number" name="idade" id="idade" required>
          <br>
          <label class="title-label" for="altura">Altura (cm):</label>
          <input type="number" name="altura" id="altura" step="0.01" required>
          <br>
          <label class="title-label" for="peso">Peso (kg):</label>
          <input type="number" name="peso" id="peso" step="0.01" required>
        </form>
      </div>
      <button type="submit">Calcular Metabolismo Basal</button>
      
  </div>
</section>
</body>
{% endblock %}
