{% extends 'base.html' %}
{% load static %}

{% block title %}Editar Treino - {{ treino.dia_da_semana }}{% endblock %}

{% block content %}
<head>
  <link rel="stylesheet" href="{% static 'css/treino.css' %}">
</head>


<body>
  <section class="ContainerList">
    <div class="boxList">
      <h1 class="title-listar">Editar Treino: {{ treino.dia_da_semana }}</h1>

      <form method="post">
        {% csrf_token %}
        <div class="editTreino">
          <label class="title-planner" for="texto">Treino:</label>
          <textarea class="width-area" id="texto" name="texto">{{ treino.texto }}</textarea>
        </div>

        <input class="saveButton" type="submit" value="Salvar">
        <a class="cancelButton" href="{% url 'treino:index' %}">Cancelar</a>
      </form>

  </div>
</section>
</body>
 
{% endblock %}
