{% extends  'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}Dias da senana{% endblock %}

{% block content %}

<head>
  <link rel="stylesheet" href="{% static 'css/treino.css' %}">
</head>

<body>

  <section class="ContainerList">
    <div class="boxList">
    <h1 class="title-listar">Lista de Treinos</h1>
    
      <p class="day-week">
        {% for dia_semana, treino in treinos.items %}
          <p class="title-week">
            {{ dia_semana|title }}:
            {% if treino %}
              <a class="seeDetails" href="{% url 'treino:dia' dia_semana %}">Ver Detalhes</a>
              <a class="edit" href="{% url 'treino:editar_treino' dia_semana %}">Editar</a>
              <a class="delete" href="{% url 'treino:excluir_treino' dia_semana %}">Excluir</a>
            {% else %}
              <a class="addTreino" href="{% url 'treino:dia' dia_semana %}">Adicionar Treino</a>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
   
    </div>
  </section>
</body>
{% endblock %}