{% extends 'base.html' %}
{% load static %}
{% block title %}Página Inicial{% endblock %}

{% block content %}

</head>
<body>
  <div class="container-banner">
    <div class="imagem">
      <img class="img-banner" src="{% static 'img/Healthy.png' %}" alt="First slide">
    </div>
    <div class="texto">
      <p class="text-banner"> Bem-vindo ao Healthy!</p>
    </div>
  </div>
  


      <div class="textoHome">
        <h2 class="h2Home">
            Principais Notícias Fitness
        </h2>
        <div class="container-box-news">
          <div class="boxes-new">
          <h3> Lorem Ipsum</h3>
          <p> Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Magni illo perspiciatis esse et. Officia dolor quasi debitis quam. Rem iure aliquid culpa nesciunt quis, a dignissimos praesentium ipsam aspernatur nobis.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
             Magni illo perspiciatis esse et. Officia dolor quasi debitis quam. Rem iure aliquid culpa nesciunt quis, a dignissimos praesentium ipsam aspernatur nobis.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
             Magni illo perspiciatis esse et. Officia dolor quasi debitis quam. Rem iure aliquid culpa nesciunt quis, a dignissimos praesentium ipsam aspernatur nobis.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
             Magni illo perspiciatis esse et. Officia dolor quasi debitis quam. Rem iure aliquid culpa nesciunt quis, a dignissimos praesentium ipsam aspernatur nobis.
          </p>
        </div>
        </div>
        
        <div class="mulher">
        <img src="{% static 'img/mulher.jpg' %}" alt="Second slide">
    </div>
    <h4> Lorem Ipsum</h4>
        <h6> Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
            Magni illo perspiciatis esse et. Officia dolor quasi debitis quam. Rem iure aliquid culpa nesciunt quis, a dignissimos praesentium ipsam aspernatur nobis.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
             Magni illo perspiciatis esse et. Officia dolor quasi debitis quam. Rem iure aliquid culpa nesciunt quis, a dignissimos praesentium ipsam aspernatur nobis.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
             Magni illo perspiciatis esse et. Officia dolor quasi debitis quam. Rem iure aliquid culpa nesciunt quis, a dignissimos praesentium ipsam aspernatur nobis.
            Lorem, ipsum dolor sit amet consectetur adipisicing elit.
             Magni illo perspiciatis esse et. Officia dolor quasi debitis quam. Rem iure aliquid culpa nesciunt quis, a dignissimos praesentium ipsam aspernatur nobis.
        </h6>
      </div>
</body>
</html>
{% endblock %}