{% extends 'base.html' %}
{% load static %}
{% block title %}Lista de Dietas{% endblock %}

{% block content %}
<h1>Minhas Dietas</h1>
<ul>
    {% for dieta in dietas %}
        <li>
            <a href="{% url 'dieta:editar_dieta' dieta.id %}">Editar</a> |
            <a href="{% url 'dieta:excluir_dieta' dieta.id %}" onclick="return confirm('Tem certeza que deseja excluir esta dieta?')">Excluir</a> |
            Refeições: {{ dieta.titulo }}, possui ({{ dieta.calorias }} calorias)
        </li>
    {% endfor %}
</ul>
<a href="{% url 'dieta:criar_dieta' %}">Criar Nova Dieta</a>
{% endblock %}
