{% extends "base.html" %}
{% load static %}
{% block title %}Meta Agua{% endblock %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/metas.css' %}">
<div class="containerGeral">
  <div class="container">
    <h1>Meta de água</h1>
    {% if water_goal %}
      <div>
    <p>Você definiu uma meta de {{ water_goal.liters }} litros de água.</p>
        <p>Editar meta:</p>
    </div>
    {% else %}
    <div>
        <p>Você ainda não definiu uma meta de água.</p>
        <p>Definir meta:</p>
    </div>
    {% endif %}
    {% csrf_token %}
    <div>
    <form action="{% url 'water_goal' %}" method="post">
        {% csrf_token %}
        <input class="input" type="number" name="liters" id="liters" placeholder="Meta de água (litros)">
        <input class="salvar"type="submit" value="Salvar">
    </form>
</div>
</div>
</div>
{% endblock %}