{% extends "base.html" %}
{% load static %}
{% block title %}Meta de Peso{% endblock %}
{% block content %}
    <h1>Meta de peso</h1>
    {% if weight_goal %}
        <p>Sua meta de peso é de {{ weight_goal.weight }} kg.</p>
        <a href="{% url 'weight_goal' %}">Editar meta</a>
    {% else %}
        <p>Você ainda não definiu uma meta de peso.</p>
        <a href="{% url 'weight_goal' %}">Definir meta</a>
    {% endif %}
    {% csrf_token %}
    <form action="{% url 'weight_goal' %}" method="post">
        {% csrf_token %}
        <input type="float" name="weight" id="weight" placeholder="Meta de peso (kg)">
        <input type="submit" value="Salvar">
    </form>
{% endblock %}