/* Estilizar o campo de entrada do título */
.titulo-input {
    width: 300px;
    height: 30px;
    /* Adicione outros estilos desejados para o título */
}


/* Estilizar o campo de entrada de notas (textarea) */
.notas-input {
    width: 100%; /* Largura total do elemento pai */
    height: 150px; /* Altura desejada em pixels */
    resize: vertical; /* Permitir redimensionamento vertical */
    /* Adicione outros estilos desejados para as notas */
}

